.hero {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: whitesmoke;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  text-align: center;
  gap: 25px;
  position: absolute;
}

.btn {
  background-color: #448150;
  border-radius: 50px;
  font-size: 16px;
}

.btn a {
  color: white;
  text-decoration: none;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-overlay {
  position: relative;
  
}

.image-overlay img {
  width: 100%;
  height: 100%;
  
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 20px;
  transition: opacity 0.6s ease;
}

.text-overlay h2 {
  color: whitesmoke;
  text-align: center;
}

.image-overlay:hover .text-overlay {
  opacity: 1;
}

/* Styling for mobile */
@media (max-width: 768px) {
  .hero-container {
    height: auto;
    padding: 20px;
  }

  .hero img {
  object-fit: cover;
}

  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 14px;
  }

  .btn {
    height: 40px;
    width: 120px;
    font-size: 14px;
  }

  .text-overlay h2 {
    font-size: 14px;
  }

  .card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* New styles for max width 425px */
@media (max-width: 425px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
